*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body{
    height: 100vh;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13%;
}
.aNav{
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}
.aNav{
    color: #fc4b08;
    transition: transform 0.5s ease, color 0.5s ease;
}
.aNav:hover{
    transform: scale(1.8);
    color: #08fc4b;
}
.cuerpo{
    height: 75%;
    background-color: #222233;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
    }
    h1.cont{
        color: #A6A6A6;
        font-size: 40px;
    }
    .formImg{
        display: flex;
        height: 90%;
    }
        .formulario{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            height: 100%;
            padding-top: 60px;
            padding-left: 50px;
        }
            .form{
                width: 50%;
                height: 10%;
                border-radius: 10px;
                border: 2px solid #000000;
                background-color: #646371;
            }
            .form:hover{
                background-color: #ffffff;
            }
            .form:focus{
                background-color: #ffffff;
                outline: none;
            }
            input.form{
                padding-left: 10px;
            }
            input.form::placeholder{
                color: black;
            }
            button.form{
                background-color: #fd083d;
                border: none;
                font-size: 20px;
                font-weight: 800;
                cursor: pointer;
            }
            button.form:hover{
                background-color: #ff2d5b;
            }
            select.form{padding-left: 10px;}
        .imagen{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }


footer{
    height: 12%;
    display: flex;
    background-color: #000000;
}
div.correoTlf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
span.correoTlf{
    color: white;
}
div.redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
a.redes{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.redes{
    width: 60%;
}