*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
}

body{
    height: 100vh;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13%;
}
.aNav{
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}
.aNav{
    color: #fc4b08;
    transition: transform 0.5s ease, color 0.5s ease;
}
.aNav:hover{
    transform: scale(1.8);
    color: #08fc4b;
}
.cuerpo{
    height: 75%;
    background-color: #222233;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 80%;
        margin-bottom: 30px;
    }
    h1.cont{
        font-size: 40px;
        margin-bottom: 40px;
        color: #A6A6A6;
    }
        div.contProj{
            display: flex;
            justify-content: space-between;
            height: 80%;
            width: 100%;
        }
        div.proj{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 30%;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
        div.proj:hover{
            transform: scale(1.2);
        }
            div.imgProj{
                width: 100%;
                height: 50%;
            }
                div.imgProj img{
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            div.textProj{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
                width: 100%;
                padding: 20px;
                background-color: #424151;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            div.tech{
                display: flex;
                height: 30%;
            }
                .icon img{
                    max-height: 100%;
                }
            a.textProj{
                color: #000080;
                text-decoration: none;
                font-weight: 900;
                width: 9%;
            }


footer{
    height: 12%;
    display: flex;
    background-color: #000000;
}
div.correoTlf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
span.correoTlf{
    color: white;
}
div.redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
a.redes{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.redes{
    width: 60%;
}